#nav-bar {
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: #00a087;
    /*font colour*/
    color: #e8fdff;
    /*0px padding on top and bottom, 2em padding on right and left*/
    padding: 0em 2em;
    z-index: 2;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar .header {
    float: left;
    padding-left: 10px;
    font-size: 2em;
    line-height: 2.5;
}

#composeButton {
    opacity: 0.75;
    border-radius: 8px;
    background-color: #f3f9fa;
    border: 2px solid rgba(0, 0, 0, 0.158);
    color:  #00a087;
    text-align: center;
    font-size: 16px;
    padding: 1em 0.5em;
    margin-top: 10px;
    float: right;

}

#composeButton:hover {
    opacity: 1;
    color:  #060808;

}